<div class="modal-header">
    <button type="button" class="close closeX" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="">About the Goodyear Stake Missionary Map</h3>
</div>
<!-- /.modal-header -->

<div id="" class="modal-body">

    <p>The Goodyear Stake Missionary Map is a project to show all of the missionaries called and the location of where they were called to since the stake was formed.  It will show currently service missionaries as well as past missionaries.</p>
    <p>Explore the Goodyear Stake Missionary Map.</p>

    <h3>Navigate around the map using your mouse</h3>
    <ul class="">
      <li>To <b>Pan</b> (move the map), simply click and hold your mouse, then drag the map.</li>
      <li>To <b>Center and Zoom In </b>on a location, double click the location.</li>
      <li>To <b>Zoom In </b>using the mouse scroll wheel, scroll forward.</li>
      <li>To <b>Zoom Out </b>using the mouse scroll wheel, scroll backward.</li>
      <li>Select an area to <b>Zoom </b>to by holding down the SHIFT key while drawing a box with the mouse.</li>
      <li>Select an area to <b>Zoom </b> out from by holding down the SHIFT + CTRL keys while drawing a box with the mouse.</li>
      <li>Use the arrow keys to pan</li>
      <li>Use + key to zoom in a level</li>
      <li>Use - key to zoom out a level</li>
      <li>Click on a <b>map feature </b>to reveal further information.</li>
    </ul>
    <hr>

      <footer id="footer">
        <p class="legal">Copyright &copy; 2014 <a id="mag" title="website link" role="navigation" target="_blank" href="#">add link here</a> | <span id="version"></span> </p>
      </footer>
</div>
<!-- /.modal-body -->